.nav-container {
  background-color: #1b242f;
  height: 5rem;
  border-bottom: 3px solid #7b90a1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60rem;
    margin-left: 20rem;
    height: 5rem;
    a {
      text-decoration: none;
      color: white;
      font-size: 2rem;

      &:hover {
        color: #fcdd00;
      }
    }
  }
}
